<div ng-init="consultarCaixa()" id="popupContainer">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>
			<md-button class="md-icon-button botao-acessibilidade" aria-label="Auto contraste" onclick="aplicaAutoContraste()">
				<md-icon md-svg-icon="./img/ic_brightness_auto_white_24px.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>

	<div ng-cloak>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Entrada de veículo" ng-init="consultarVeiculos()">
					<md-content class="md-padding">
						<md-card>
							<md-card-content>
								<h3>Entrada</h3>
								<p ng-if="!caixaAberto">Atenção: seu caixa diário está fechado, para fazer saídas de veículos é necessário abri-lo.</p>
								<form ng-submit="inserirEntrada(veiculoId)">
									<div layout="row">
										<p class="descSelect">Veículo: </p>
										<md-input-container class="md-block">
											<md-select ng-model="veiculoId" placeholder="Veículo" required>
												<md-option value="{{veiculo.id}}" ng-repeat="veiculo in veiculos">{{veiculo.placa}}</md-option>
											</md-select>
										</md-input-container>
									</div>

				                    <md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Inserir entrada</md-button>
			                    </form>
							</md-card-content>
						</md-card>
					</md-content>
				</md-tab>
				<md-tab label="Saída de veículo" ng-if="caixaAberto">
					<md-content class="md-padding">
						<md-card>
							<md-card-content>
								<h3>Saída</h3>

								<form ng-submit="inserirSaida(placa)">
									<div layout="row">
										<p class="descSelect">Veículo: </p>
										<md-input-container class="md-block">
											<md-select ng-model="placa" placeholder="Veículo" required>
												<md-option value="{{veiculo.placa}}" ng-repeat="veiculo in veiculos">{{veiculo.placa}}</md-option>
											</md-select>
										</md-input-container>
									</div>

				                    <md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Inserir entrada</md-button>
			                    </form>
							</md-card-content>
						</md-card>
					</md-content>
				</md-tab>
				<md-tab label="Caixa Diário" ng-if="caixaAberto">
					<md-content class="md-padding">
						<md-card>
							<md-card-content>
								<p>Caixa de {{caixadiario.data | date: "fullDate"}}, aberto às {{caixadiario.abertura | date: "mediumTime"}}.</p>
							</md-card-content>
						</md-card>

						<div class="md-padding" layout-margin>

							<mdt-table table-card="{title: 'Movimentações'}" mdt-row="{
				                      data: saidasList,
				                      'column-keys': [
				                          'placa',
				                          'dataentrada',
				                          'datasaida',
				                          'valor',
				                          'tipo'
				                      ]
				                      }">
								<mdt-header-row>
									<mdt-column align-rule="left">Placa</mdt-column>
									<mdt-column align-rule="right">Entrada</mdt-column>
									<mdt-column align-rule="right">Saída</mdt-column>
									<mdt-column align-rule="right">Valor</mdt-column>
									<mdt-column align-rule="right">Tipo</mdt-column>
								</mdt-header-row>
							</mdt-table>
						</div>


						<md-card>
							<md-card-content>
								<p>Ações</p>
								<md-button type="button" class="md-raised md-primary right" ng-click="fecharCaixaDiario()">Fechar caixa diário</md-button>
								<md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
							</md-card-content>
						</md-card>
					</md-content>
				</md-tab>

			<md-tab label="Caixa Diário" ng-if="!caixaAberto">
					<md-content class="md-padding">
						<md-card>
							<md-card-content>
								<p>O caixa diário está fechado.</p>
								<p>Abra o caixa diário para fazer saídas de veículos.</p>
								<md-button type="button" class="md-raised md-primary right" ng-click="abrirCaixaDiario()">Abrir caixa diário</md-button>
								<md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
							</md-card-content>
						</md-card>
					</md-content>
				</md-tab>
		</md-content>
	</div>
</div>
