<div layout="column" ng-controller="usuariosEditarCtrl" ng-init="consultar()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<md-content class="md-padding">
    	<md-card>
				<md-card-content>
				<form name="form" ng-submit="inserir()">
          <span>Dados</span>
          <md-input-container class="md-block">
            <label>Nome</label>
            <input required ng-model="usuarios.nome" type="text">
          </md-input-container>
					<md-input-container class="md-block">
						<label>Usuario</label>
						<input required ng-model="usuarios.usuario" type="text">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Senha</label>
						<input required ng-model="usuarios.senha" type="password">
					</md-input-container>
					<md-input-container class="md-block">
						<div ng-app="myApp" ng-controller="usuariosEditarCtrl">
						<p>Status:</p>
						<select ng-model="usuarios.status">
							<option ng-repeat="status do usuario" value="{{x.model}}">{{x.model}}</option>
						</select>
						<h1>Selecionado: {{usuario.status}}</h1>
					</div>
					</md-input-container>
					<md-input-container class="md-block">
						<div ng-app="myApp" ng-controller="usuariosEditarCtrl">
						<p>Admin:</p>
						<select ng-model="usuarios.admin">
							<option ng-repeat="administracao" value="{{x.model}}">{{x.model}}</option>
						</select>
						<h1>Selecionado: {{usuario.admin}}</h1>
					</div>
					</md-input-container>

					<md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Salvar</md-button>
          <md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
     			</form>
			</md-card-content>
		</md-card>
	</md-content>
</div>
