<div layout="column" ng-controller="usuariosEditarCtrl" ng-init="consultar()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<md-content class="md-padding">
    	<md-card>
     		<md-card-content>
				<form name="form" ng-submit="editar()">
          <span>Dados Gerais</span>
          <md-input-container class="md-block">
            <label>Nome</label>

            <input required ng-model="usuarios.nome" type="text">
          </md-input-container>
            <md-input-container class="md-block">
              <label>CPF</label>
              <input required ng-model="usuarios.cpf" ng-pattern="/([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})$/" ui-br-cpf-mask>
            </md-input-container>
          <md-input-container class="md-block">
            <label>Telefone</label>
            <input required ng-model="usuarios.telefone" type="text">
          </md-input-container>

					<md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Salvar</md-button>
          <md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
     			</form>
			</md-card-content>
		</md-card>
	</md-content>
</div>
